@import 'styles/static/mixins';
@import 'styles/static/colors';


.inputField {
  position: relative;

  --inputHeight: 40px;
  --borderWidth: 1px;
  --paddingVertical: 10px;
  --paddingHorizontal: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  .inputLabel {
    position: absolute;
    pointer-events: none;
    z-index: 10;

    color: $color-gray;
    padding: var(--paddingVertical) var(--paddingHorizontal);
    left: var(--borderWidth);
    right: var(--borderWidth);
    top: var(--borderWidth);
    height: calc(var(--inputHeight) - (var(--borderWidth) * 2));
    display: flex;
    align-items: center;
    background-color: $color-white;
    transition: top var(--main-transition), font-size var(--main-transition);
  }

  &.activeLabel {
    .inputLabel {
      background-color: initial;
      display: inline-flex;
      width: auto;
      left: 14px;
      padding: 0;
      top: -5px;
      height: auto;
      font-size: 10px;
      line-height: 10px;

      span {
        padding: 0 2px;
        background-color: $color-white;
      }
    }
  }

  .input {
    width: 100%;
    padding: var(--paddingVertical) var(--paddingHorizontal);
    height: var(--inputHeight);
    background-color: $color-white;
    border: var(--borderWidth) solid $color-gray-netspace;
    color: $color-black;

    &:focus {
      border-color: $color-blue-dark;
    }
  }
}
