@import "styles/static/mixins";
@import "styles/static/colors";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  font-weight: 500;
  font-size: var(--text-size-extend);
  line-height: var(--line-height-small);
  color: $color-white;

  &-blue {
    background-color: $color-blue-dark;
  }

  &-red {
    background-color: $color-red-tomato;
  }

  .left, .right {
    width: 11px;

    path {
      stroke: $color-white;
      stroke-width: 3px;
    }
  }

  .left {
    margin-right: 4px;
  }

  .right {
    margin-left: 4px;
  }
}


@include media(){
  .button{
    padding: 10px 32px;
  }
}
